.introImg img {
    height: auto;
    width: 400px;
}

.holdetImg img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.intro {
    display: flex;
}

.holdet {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.holdetCard {
    width: calc(100% / 2 - 30px);
    border: 2px solid var(--teal);
    padding: 1rem;
}

.holdetContainer {
    display: flex;
    gap: 10px;
}